<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1> Create account </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <form action="" th:object="${user}" method="POST" enctype="utf8">
                    <table>
                        <tr>
                            <td>Login</td>
                            <td><input th:field="*{login}"></td>
                            <td th:each="error : ${#fields.errors('login')}" th:text="${error}">Validation error</td>
                        </tr>
                        <tr>
                            <td>Name</span>
                            <td><input th:field="*{name}"></td>
                            <td th:each="error : ${#fields.errors('name')}" th:text="${error}">Validation error</td>
                        </tr>
                        <tr>
                            <td>Password</span>
                            <td><input type="password" th:field="*{password}"></td>
                            <td th:each="error : ${#fields.errors('password')}" th:text="${error}">Validation error</td>
                        </tr>
                        <tr>
                            <td>Confirm</td>
                            <td><input type="password" th:field="*{matchingPassword}"></td>
                            <td th:each="error : ${#fields.errors('matchingPassword')}" th:text="${error}">Validation error</td>
                        </tr>
                            <td><input type = "submit" id="submitButton" class="btn btn-success" th:value="Save"></td>
                        </tr>
                </form>
    </div>
</body>
</html>