<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration Success</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1> Account has been created! </h1>
            </div>
        </div>
        <a class="btn btn-info" href="#" th:href="@{/login}"> Login </a>
    </div>
</body>
</html>