<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket info</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-ticket.css}"/>
</head>
<body>
    <div></div>
    <div class="ticket-info">
        <table>
            <tr>
                <td><h1 th:text="${ticket.getCode()} + ${ticket.getId()}">Ticket code</h1></td>
                <td><h1 th:text="${ticket.getTitle()}">Ticket title</h1>
                    <h2 class="ticket-status" th:text="' ' + ${ticket.getStatus()} + ' '"> Ticket status </h2></td>
            </tr>
            <tr>
                <td></td>
                <td><p th:text="${ticket.getEstimation()}">Estimate</p></td>
                <td></td>
            </tr>
            <tr>
                <td>Requester:</td>
                <td><p th:text="${ticket.getRequester().getName()}">Requester</p></td>
                <td></td>
            </tr>
            <tr>
                <td>Manager:</td>
                <td><p th:text="${ticket.getManager()}!=null ? ${ticket.getManager().getName()} : 'NotSetted'">Manager</p></td>
                <td></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><p th:text="${ticket.getDescription()}">Description</p></td>
                <td></td>
            </tr>
            <tr>
                <td>Creation time:</td>
                <td><p th:text="${#temporals.format(ticket.getCreatedAt(), 'dd-MM-yyyy HH:mm')}">Creation time</p></td>
                <td></td>
            </tr>
            <tr>
                <td>Last status change time</td>
                <td><p th:text="${#temporals.format(ticket.getStatusUpdatedAt(), 'dd-MM-yyyy HH:mm')}">Last status change time</p></td>
                <td></td>
            </tr>
            <tr>
                <td>Control time</td>
                <td><p th:text="${#temporals.format(ticket.getControlPeriodAt(), 'dd-MM-yyyy HH:mm')}">Control time</p></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="ticket-buttons">
        <table>
            <tr>
                <td><form th:method="GET" th:action="@{/dashboard}">
                    <input type="submit" value="Back"/>
                </form></td>
                <td><form th:method="GET" th:if="${ticket.getRequester().getId()}==${userId}" th:action="@{/tickets/{id}/edit(id=${ticket.getId()})}">
                    <input type="submit" value="Edit"/>
                </form></td>
                <td><form th:method="DELETE" th:if="${ticket.getRequester().getId()}==${userId}" th:action="@{/tickets/{id}(id=${ticket.getId()})}">
                    <input type="submit" value="Delete"/>
                </form></td>
            </tr>
        </table>
    </div>
</body>
</html>