<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket info</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style-ticket.css}"/>
</head>
<body>
    <div></div>
    <div class="ticket-info">
        <table>
            <tr>
                <td><h1 th:text="${fullViewTicketDto.getCode()} + '-' + ${fullViewTicketDto.getId()}">Ticket code</h1></td>
                <td>
                    <h1 th:text="${fullViewTicketDto.getTitle()}">Ticket title</h1>
                    <h2 class="ticket-status" th:text="' ' + ${fullViewTicketDto.getStatus()} + ' '"> Ticket status </h2>
                </td>
            </tr>
            <tr>
                <td></td>
                <td><p th:text="${fullViewTicketDto.getEstimation()}">Estimate</p></td>
                <td></td>
            </tr>
            <tr>
                <td>Requester: </td>
                <td><p th:text="${fullViewTicketDto.getRequesterFullName()}">Requester</p></td>
                <td></td>
            </tr>
            <tr>
                <td>Manager: </td>
                <td><p th:text="${fullViewTicketDto.getManagerFullName()}!=null ? ${fullViewTicketDto.getManagerFullName()} : 'NotSetted'">Manager</p></td>
                <td></td>
            </tr>
            <tr>
                <td>Description: </td>
                <td><p th:text="${fullViewTicketDto.getDescription()}">Description</p></td>
                <td></td>
            </tr>
            <tr>
                <td>Creation time: </td>
                <td><p th:text="${#temporals.format(fullViewTicketDto.getCreatedAt(), 'dd-MM-yyyy HH:mm')}">Creation time</p></td>
                <td></td>
            </tr>
            <tr>
                <td>Last ticket updated: </td>
                <td><p th:text="${#temporals.format(fullViewTicketDto.getUpdatedAt(), 'dd-MM-yyyy HH:mm')}">Last ticket updated</p></td>
                <td></td>
            </tr>
            <tr>
                <td>Last status change time: </td>
                <td><p th:text="${#temporals.format(fullViewTicketDto.getStatusUpdatedAt(), 'dd-MM-yyyy HH:mm')}">Last status change time</p></td>
                <td></td>
            </tr>
            <tr>
                <td>Control time:</td>
                <td><p th:text="${#temporals.format(fullViewTicketDto.getControlPeriodAt(), 'dd-MM-yyyy HH:mm')}">Control time</p></td>
                <td></td>
            </tr>
        </table>
    </div>
    <div class="ticket-buttons">
        <table>
            <tr>
                <td><form th:method="GET" th:action="@{/dashboard}">
                    <input type="submit" value="Back"/>
                </form></td>
                <td><form th:method="GET" th:if="${fullViewTicketDto.getRequesterId() == userId || currentUserRole =='ADMIN'}" th:action="@{/tickets/{id}/edit(id=${fullViewTicketDto.getId()})}">
                    <input type="submit" value="Edit"/>
                </form></td>
                <td><form th:method="DELETE" th:if="${fullViewTicketDto.getRequesterId() == userId || currentUserRole =='ADMIN'}" th:action="@{/tickets/{id}(id=${fullViewTicketDto.getId()})}">
                    <input type="submit" value="Delete"/>
                </form></td>
            </tr>
        </table>
    </div>
</body>
</html>