<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
      <meta charset="UTF-8">
      <title>Dashboard</title>
      <link rel="stylesheet" type="text/css" th:href="@{/css/style-ticket.css}"/>
  </head>
  <body>
    <h1>SberHelpDesk</h1>
    <table>
        <tr>
            <td th:width="50px"></td>
            <td>
                <div class="ticket-buttons">
                    <form method="GET" th:action="@{/profile}">
                        <input type="submit" value="My profile"/>
                    </form>
                </div>
            </td>
        </tr>
    </table>
    <br>
    <div class="ticketSpase">
        <h2>Tickets on me</h2>
        <div class="ticket-card" th:each="ticket : ${shortViewTicketDtos}">
            <div th:text="${ticket.getCode()} + '-' + ${ticket.getId()}">Code</div>
            <div th:text="${ticket.getTitle()}">Title</div>
            <div th:text="${ticket.getStatus()}">Status</div>
            <div><span>Requester: </span><span th:text="${ticket.getRequesterFullName()}">Requester</span></div>
            <div><span>Manager: </span><span th:if="${ticket.getManagerFullName()}!=null" th:text="${ticket.getManagerFullName()}">Manager</span></div>
            <div><span>Control period: </span><span th:text="${#temporals.format(ticket.getControlPeriodAt(), 'dd-MM-yyyy HH:mm')}">Control period</span></div>
            <br>
            <table>
                <tr>
                    <td>
                        <form method="GET" th:if="${ticket.getRequesterId() == userId || currentUserRole =='ADMIN'}" th:action="@{/tickets/{id}/edit(id=${ticket.getId()})}">
                            <input type="submit" value="Edit"/>
                        </form>
                    </td>
                    <td>
                        <form th:method="DELETE" th:if="${ticket.getRequesterId() == userId || currentUserRole =='ADMIN'}" th:action="@{/tickets/{id}(id=${ticket.getId()})}">
                            <input type="submit" value="Delete"/>
                        </form>
                    </td>
                    <td>
                        <form method="GET" th:action="@{/tickets/{id}(id=${ticket.getId()})}">
                            <input type="submit" value="Details"/>
                        </form>
                    </td>
                </tr>
            </table>
            <br>
        </div>
    </div>
  </body>
</html>